{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block body %}

<form method="POST">
    {% csrf_token %}


        
        <ul  class="circle--clone--list">
          
            
                
                  {% for skillform in skills_formset1 %}
                  
                 <li>
                      
                    {{ skillform }}
                    
                  </li>

                  {% endfor %}

                  
            
        </ul>
        {{ skills_formset1.management_form }}

</form>



         
{% endblock %}

