{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block body %}

  <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        {% if user_profile_form.instance.pk %}
        <li><a href="{% url 'base:home_applications' %}">Applications</a></li>
        <li><a class="selected" href="{% url 'base:profile' url_slug=user_profile_form.instance.url_slug %}">Profile</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
          <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
  <div class="bounds circle--page">
    <div class="circle--page--header circle--fluid">
      <div class="circle--fluid--cell circle--fluid--primary">
        <h2>Profile</h2>
      </div>
      <div class="circle--fluid--cell circle--fluid--secondary">
        <input type="submit" class="button button-primary icon-on-left" value="Save Changes">
      </div>
    </div>

    <div class="grid-70">
      {{ user_profile_form.non_field_errors }}
      {{ user_profile_form.errors }}
        {{ user_profile_form.name.errors }}
        {% render_field user_profile_form.name class+="circle--input--h1" placeholder="Full Name" %}
      <div class="circle--article--body">
        
        {{ user_profile_form.description.errors }}
        {% render_field user_profile_form.description placeholder="Tell us about yourself..." %}
      </div>

      <h2>Past Projects</h2>
      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th>Project Title</th>
            <th class="circle--cell--right">Project Needs</th>
          </tr>
        </thead>
        <tbody>

          {% for project in my_projects %}
          <tr class="clickable-row" data-href="{% url 'base:project' url_slug=project.url_slug %}">
            <td>
              <h3>{{ project.project_name }}</h3>
            </td>
            <td class="circle--cell--right">
              <span class="secondary-label">Creator of project</span>
            </td>
          </tr>
          {% endfor %}

          {% for previous_job in previous_jobs %}
          <tr class="clickable-row" data-href="{% url 'base:project' url_slug=previous_job.project.url_slug %}">
            <td>
              <h3>{{ previous_job.project.project_name }}</h3>
            </td>
            <td class="circle--cell--right">
              <span class="secondary-label">{{ previous_job.position_name }}</span>
            </td>
          </tr>
          {% endfor %}

          {% if not my_projects %}
            {% if not previous_jobs %}
              <td><p>There are no past projects for you</p></td>
            {% endif %}
          {% endif %}

        </tbody>
      </table>
    </div>
{{ user_profile_form.image.errors }}
    <div class="grid-25 grid-push-5">

      <div class="circle--secondary--module">
        <div class="circle--primary--avatar">
          {% if user_profile_form.instance.image %}
          <img style='height: 100%; width: 100%; object-fit: contain' src="{{ user_profile_form.instance.image.url }}" id="img_id"/>
          {% else %}
            <img style='height: 100%; width: 100%; object-fit: contain' id="img_id" />
          {% endif %}
          
          <label for="id_user_profile_image" class="button">Upload Photo</label>
            
            {% render_field user_profile_form.image style='display:none' name="user_profile-image" id="id_user_profile_image" onchange="upload_img(this);" %}
            
            
          
          
        </div>
      </div>



      <div class="circle--secondary--module">
        <h4>My Skills</h4>
        
        <ul id='skills' class="circle--clone--list">
          
            
                
                  {% for skillform in skills_formset %}
                  {{ skillform.id }}
                    {{ skillform.non_field_errors }}
                    {{ skillform.errors }}
                  <li>
                    
                    {% if skillform.instance.pk %}{{ skillform.DELETE }}{% endif %}
                    {% render_field skillform.name placeholder="Skill" %}
                    

            

          </li>

                  {% endfor %}

                  
            
        </ul>
        {{ skills_formset.management_form }}
      </div>






      <div class="circle--secondary--module">
        <h4>My Projects</h4>
        <ul id="projects" class="circle--clone--list">
          
            
                {{ projects_formset.management_form }}
                  {% for projectform in projects_formset %}
                  <li>
                    {{ projectform.id }}
                    {{ projectform.non_field_errors }}
                    {{ projectform.errors }}
                    
                    {% if projectform.instance.pk %}{{ projectform.DELETE }}{% endif %}
                    {% render_field projectform.project_name placeholder="Project Name" %}
                    {% render_field projectform.url placeholder="Project URL" %}
                  
                </li>
                  {% endfor %}
                
            
        </ul>
      </div>
    </div>

  </div>
 </form>
         
<script type="text/javascript">
    $(function() {
          $('#skills li').formset({
              addText:'Add Skill',
              prefix: '{{ skills_formset.prefix }}',
              formCssClass: 'dynamic-skills_formset'

            });

            $('#projects li').formset({
              addText: 'Add Project',
              prefix: '{{ projects_formset.prefix }}',
              formCssClass: 'dynamic-projects_formset'

            });

            })

    function upload_img(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img_id').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>

{% endblock %}


