{% extends 'layout.html' %}

{% block body %}

{% if profile.user == user %}
  <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li><a href="{% url 'base:home_applications' %}">Applications</a></li>
        <li><a class="selected">Profile</a></li>
      </ul>
    </nav>
  </div>
{% endif %}

  <div class="bounds circle--page">
    <div class="circle--page--header circle--fluid">
      <div class="circle--fluid--cell circle--fluid--primary">
        <h2>Profile</h2>
      </div>
      {% if profile.user == user %}
      <div class="circle--fluid--cell circle--fluid--secondary">
        <a class="button icon-on-left" href="{% url 'base:profile_edit' %}">Edit</a>
      </div>
      {% endif %}
    </div>

    <div class="grid-70">
      <h1>{{ profile.name }}</h1>
      <div class="circle--article--body">
        <p>{{ profile.description }}</p>
      </div>

      <h2>Past Projects</h2>
      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th>Project Title</th>
            <th class="circle--cell--right">Project Needs</th>
          </tr>
        </thead>
        <tbody>

          
            {% for my_project in profile.projects.all %}
            <tr class="clickable-row" data-href="{% url 'base:project' url_slug=my_project.url_slug %}">
              <td>
                <h3>{{ my_project.project_name }}</h3>
              </td>
              <td class="circle--cell--right">
                <span class="secondary-label">Creator of project</span>
              </td>
            </tr>
            {% endfor %}
          

          {% if positions %}
            {% for position in positions %}
            <tr class="clickable-row" data-href="{% url 'base:project' url_slug=position.project.url_slug %}">
              <td>
                <h3>{{ position.project.project_name }}</h3>
              </td>
              <td class="circle--cell--right">
                <span class="secondary-label">{{ position.position_name }}</span>
              </td>
            </tr>
            {% endfor %}
            
          {% else %}
            {% if not profile.projects.all %}
              <td><p>There are no past projects for you</p></td>
            {% endif %}
          {% endif %}
        </tbody>
      </table>
    </div>

    <div class="grid-25 grid-push-5">

      <div class="circle--secondary--module">
        <div class="circle--primary--avatar">
          {% if profile.image %}
            <img style='height: 100%; width: 100%; object-fit: contain' src="{{ profile.image.url }}" />
          {% endif %}
        </div>
      </div>

      <div class="circle--secondary--module">
        <h4>My Skills</h4>
        <ul class="unloaded">
          {% for skill in profile.skills.all %}
            
              <li>{{ skill.name }}</li>
            
          {% endfor %}
        </ul>
      </div>

      <div class="circle--secondary--module">
        <h4>My Projects</h4>
        <ul class="circle--link--list">
          {% for project in my_outside_projects %}
              
                <li><a href="{{ project.url }}">{{ project.project_name }}</a></li>
              
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>

{% endblock %}