{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block body %}

<form method="POST">
  {% csrf_token %}

  <div class="circle--actions--bar">
    <div class="bounds">
      <div class="grid-100">
        <input type="submit" class="button button-primary" value="Save Changes">
        <a class="button button-text" href="index.html">Delete Project</a>
      </div>
    </div>
  </div>

  <div class="bounds circle--page circle--article">
    <div class="grid-70">
      <div class="circle--article--body">
        {{ project_form.non_field_errors }}
      {{ project_form.errors }}
        
        {% render_field project_form.project_name class+="circle--input--h1" placeholder="Project Title" %}
        
        {% render_field project_form.description placeholder="Project description..." %}
      </div>

      <div class="circle--project--positions">
        <h2>Positions</h2>

        {{ positions_formset.errors }}
        {{ positions_formset.non_field_errors }}
        <ul id="positions1" class="circle--group--list circle--clone--list">
          {% for position_form in positions_formset %}
                    {{ position_form.id }}
                    {{ position_form.non_field_errors }}
                    {{ position_form.errors }}
          <li>

            {% render_field position_form.position_name class+="circle--input--h3" placeholder="Position Title" %}
            {% render_field position_form.position_description placeholder="Position description..." %}
            
          </li>
          {% endfor %}
        </ul>
        {{ positions_formset.management_form }}

        <input type="submit" class="button button-primary" value="Save Changes">

      </div>
    </div>

    <div class="grid-25 grid-push-5">
      <div class="circle--secondary--module">
        <h3>Project Timeline</h3>
        {% render_field project_form.project_timeline class+="circle--textarea--input" placeholder="Time estimate" %}
      </div>

      <div class="circle--secondary--module">
        <h3>Application Requirements</h3>
        {{ project_form.application_requirements }}
      </div>

    </div>
  </div>

</form>

<script type="text/javascript">
    $(function() {
          $('#positions1 li').formset({
              addText:'Add Position',
              prefix: '{{ positions_formset.prefix }}',
              formCssClass: 'dynamic-positions_formset'

            });


            })
</script>

{% endblock %}