{% extends 'layout.html' %}
{% load widget_tweaks %}


{% block body %}



<form method="POST">
  {% csrf_token %}



  <div class="circle--actions--bar">
    <div class="bounds">
      <div class="grid-100">
        <input type="submit" class="button button-primary" value="Save Project">
        <a class="button button-text" href="{% url 'base:home' %}">Discard</a>
      </div>
    </div>
  </div>

  <div class="bounds circle--page circle--article">
    <div class="grid-70">
      <div class="circle--article--body">
        
        <p style="color:red;">{{ project_form.non_field_errors.as_text }}</p>
        <p style="color:red;">{{ project_form.errors.as_text }}</p>
        
      
        
        {% render_field project_form.project_name class+="circle--input--h1" placeholder="Project Title" %}
        
        {% render_field project_form.description placeholder="Project description..." %}
      </div>

      <div class="circle--project--positions">
        <h2>Positions</h2>
        

        <ul id="positions" class="circle--group--list circle--clone--list">
          {% for position_form in positions_formset %}
                    {{ position_form.id }}
                    <p style="color:red;">{{ position_form.non_field_errors.as_text }}</p>
                    <p style="color:red;">{{ position_form.errors.as_text }}</p>
                  
          <li>

            {% render_field position_form.position_name class+="circle--input--h3" placeholder="Position Title" %}
            {% render_field position_form.position_description placeholder="Position description..." %}

            Hours per week: {% render_field position_form.hours_per_week %}
            
          </li>
          {% endfor %}
        </ul>
        {{ positions_formset.management_form }}
        <input type="submit" class="button button-primary" value="Save Project">

      </div>
    </div>

    <div class="grid-25 grid-push-5">

      <div class="circle--secondary--module">
        <h3>Project Timeline</h3>
        {% render_field project_form.project_timeline class+="circle--textarea--input" placeholder="ex: 8 months" %}
      </div>

      <div class="circle--secondary--module">
        <h3>Applicant Requirements</h3>
        {{ project_form.application_requirements }}
      </div>

    </div>
  </div>
</form>

<script type="text/javascript">
    $(function() {
          $('#positions li').formset({
              addText:'Add Position',
              prefix: '{{ positions_formset.prefix }}',
              formCssClass: 'dynamic-positions_formset'

            });


            })
</script>


{% endblock %}