<!-- This is using the url sign in cheat code. If I wanted to use
a class view to login, I have it commented out in the views file  -->

{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block body %}

  <div class="bounds">
    <div class="grid-30 centered">
      <h2>Sign In</h2>
      <form method="POST">
        {% csrf_token %}
        <p style="color:red;">{{ form.errors.as_text }}</p>

        {% render_field form.username placeholder="Email Address" %}
        {% render_field form.password placeholder="Password" %}
        <button type="submit" class="button-primary">Sign In</button>
        <a class="button" href="{% url 'signup' %}">Sign Up</a>
      </form>
    </div>
  </div>

{% endblock %}

<!-- use the standard form.as_p above in the form. Also <form method="POST">  -->
